body {
	// background-color: red;
}
/** use border-box globally. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

i {
    cursor: pointer;
}
.layer {
    display: block;
    margin: 0 0 1em 0;
}
.leaf {
    padding: 0 .5em;
    position: relative;
    .leaf-key {
        padding: 0 1em;
    }
    .add-sibling {
        position: absolute;
        top: 150%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}